@mixin container-display {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

@mixin card {
  background: $color-bg-variant;
  margin: 0.5rem;
  padding: 1.5rem;
  width: 15rem;
  height: 22rem;
  border-radius: 10%;
}

@mixin skill-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background: $color-bg-variant;
  border: 0.2rem solid $color-secondary;
  margin: 1.8rem;
  padding: 1rem;
  gap: 1rem;
}
