.container_about {
  display: flex;
  justify-content: center;
}

.about_me_img {
  width: 25rem;
  height: 25rem;
  margin: 2rem;
  border-radius: 12rem 12rem 0 0;
  box-shadow: 0 0 15px 10px $color-bg;
  border: 0.8rem solid $color-secondary;
}

.cta {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.intro {
  margin-top: 2rem;
}

// ========== media query MD version ==================

@media screen and (max-width: 1024px) {
  .container_about {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    gap: 0rem;
  }

  .intro {
    padding-top: 4rem;
  }

  .picture {
    display: flex;
    justify-content: center;
  }
  .about_me_img {
    width: 50%;
    border: 0.5rem solid $color-secondary;
  }
}

// ========== media query SM version ==================

@media screen and (max-width: 600px) {
  .about_me_img {
    border: 0.2rem solid $color-secondary;
  }
}
