.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactOptions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.options {
  background: $color-bg-variant;
  width: 14rem;
  height: 7.5rem;
  padding: 0.5rem 0.3rem 0rem;
  border-radius: 5%;
}

form {
  display: flex;
  flex-direction: column;
  input {
    width: 20rem;
    margin: 1rem 0;
    padding: 0.2rem 0 0.2rem 0.5rem;
  }
  textarea {
    padding: 0.2rem 0 0.2rem 0.5rem;
  }
  button {
    margin-top: 1rem;
  }
}

// ========== media query MD version ==================

@media screen and (max-width: 1024px) {
  .contactContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;

    form {
      margin-top: 2rem;
      .btn {
        margin: 1rem auto;
      }
    }
  }
}

// ========== media query SM version ==================

@media screen and (max-width: 600px) {
  form {
    input {
      width: 14rem;
    }
  }
}
