.containerExperiences {
  @include container-display;
  align-content: center;
}

.part {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.frontendSkills {
  @include skill-layout;
  height: 70%;
}

.otherSkills {
  display: flex;
  flex-direction: column;
}

.backend {
  @include skill-layout;
}
.others {
  @include skill-layout;
}

.skill {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

// ========== media query MD version ==================

@media screen and (max-width: 1024px) {
  .part {
    flex-direction: column;
  }
}

// ========== media query SM version ==================

@media screen and (max-width: 600px) {
  .skills {
    width: 15rem;
    height: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    gap: 0.5rem;
    border: 0.4rem solid $color-secondary;
  }
}
