.containerPortfolio {
  @include container-display;
}
.projects {
  @include projects;
}

.project {
  @include card;
}

.title {
  margin: 1rem;
}

.link {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.picture {
  border-radius: 5%;
}

// ========== media query MD version ==================

@media screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

// ========== media query SM version ==================

@media screen and (max-width: 600px) {
  .card {
    width: 15rem;
    height: 20rem;
  }
}
