.container_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background: $color-bg-variant;
  margin: 0.5rem;
  padding: 1.5rem;
  width: 20rem;
  height: 22rem;
  border-radius: 10%;
}

.title {
  margin: 1rem;
}

.link {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.picture {
  border-radius: 5%;
}
